@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.row{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about, #discord, #contact, footer {
    padding: 48px 0;
}

html{
    scroll-behavior: smooth;
}

/*

NAV

*/

nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cafdff;
    padding: 0 16px;
}

.nav__logo{
    width: 300px;
}

.nav__links{
    display: flex;
}

.nav__link--wrapper{
    list-style-type: none;
    padding-left: 16px;
}

.nav__link{
    color: #242424;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: underline;
}

/*

HEADER

*/

#header{
    background-color: #eadcff;
    height: calc(100vh - 70px);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.section__description{
}

.section__title{
    font-size: 72px;
}

.section__para{
    font-size: 30px;
    margin: 16px 0px 24px 0px;
}

.btn{
    border: none;
    color: white;
    background-color: #05c7cf;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 20px;
}

img{
    width: 100%;
}

/*

ABOUT

*/

#about{
    background-color: #f8ffdc;
}

h2{
    text-align: center;
    font-size: 72px;
    margin-bottom: 24px;
}

.about__description{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__para{
    margin-bottom: 24px;
    font-size: 20px;
}

.about__para--wrapper{
    width: 60%;
    padding: 0 24px;
}

.about__img--wrapper{
    width: 40%;
    padding: 0 24px;
}

/* 

DISCORD

*/

#discord{
    background-color: #CEFEFF;
}

/*

CONTACT

*/

#contact{
    background-color: #dce9ff;
}

.form{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 24px;
}

input,
textarea{
    font-size: 20px;
    margin-bottom: 24px;
}

/*

FOOTER

*/

#footer{
    background-color: #aaf5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__img{
    width: 480px;
    margin-bottom: 16px;
}

.footer__link{
    display: flex;
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 24px;
}

.footer__link--wrapper{
    list-style-type: none;
    padding: 0 16px;
    cursor: not-allowed;
}

/*

SMARTPHONES TABLETS and SMALL PHONES

*/

@media (max-width: 728px){
    .row{
        flex-direction: column;
    }

    .section__description{
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1{
        text-align: center;
    }

    .section__title{
        font-size: 60px;
    }

    .section__para{
        text-align: center;
        font-size: 28px;
    }

    .btn{
        max-width: 240px;
    }

    .nav__links{
        display: none;
    }

    .about__description{
        display: flex;
        flex-direction: column;
    }

    .about__para--wrapper{
        width: 100%;
    }

    .about__img--wrapper{
        width: 100%;
    }

    #discord .about__description{
        display: flex;
        flex-direction: column-reverse;
    }
    
    form .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 728px;
    }

    footer{
        padding: 48px 24px;
    }

    .footer__img{
        max-width: 240px;
    }

    .footer__link{
        padding: 0 4px;
        font-size: 18px;
    }
}